.itemDetail {
  margin: auto;
  width: 85%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.itemDetailImg {
  width: 50%;
}
.itemDetailInfo {
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}
.itemDetailImg img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.itemDetailInfo h2 {
  font-size: 2.4rem;
}
.itemDetailInfo p {
  padding: 2px 8px;
  font-size: 1.2rem;
}
.itemDetailInfo span {
  font-size: 2.2rem;
  font-weight: 600;
}
.itemDetailInfo a {
  font-size: 1.2rem;
  background-color: #ff6900;
  border: 2px solid #ff6900;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 300ms;
}
.itemDetailInfo a:hover {
  background-color: #fff;
  color: #ff6900;
}

@media screen and (max-width: 768px) {
  .itemDetail {
    flex-direction: column;
  }
  .itemDetailImg {
    width: 100%;
  }
  .itemDetailImg img {
    height: 200px;
  }
  .itemDetailInfo {
    width: 100%;
  }
  .itemDetailInfo h2 {
    font-size: 2rem;
  }
  .itemDetailInfo p {
    font-size: 1.1rem;
  }
  .itemDetailInfo span {
    font-size: 1.8rem;
  }
  .itemDetailInfo button {
    font-size: 1rem;
  }
}
